<!-- <!DOCTYPE html>
<html>
<head>
    <title>Shop Detail</title>
</head>
<body>
    <h1>{{ shop_item.name }}</h1>
    <p>Price: Rp {{ shop_item.price }}</p>
    <p>Category: {{ shop_item.category }}</p>
    <p>Description: {{ shop_item.description }}</p>
    <p>Stock: {{ shop_item.stok }}</p>
    <img src="{{ shop_item.thumbnail }}" alt="{{ shop_item.name }}" width="200">

    <a href="{% url 'main:show_main' %}">Back to Shop List</a>
</body>
</html> -->

{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Shop List</button></a></p>

<h1>{{ shop.title }}</h1>
<p><b>{{ shop.get_category_display }}</b>{% if shop.is_featured %} | 
    <b>Featured</b>{% endif %}{% if shop.is_shop_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ shop.created_at|date:"d M Y, H:i" }}</i> 
    | Views: {{ shop.shop_views }}</p>

{% if shop.thumbnail %}
<img src="{{ shop.thumbnail }}" alt="Shop thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ shop.content }}</p>
{% if shop.user %}
    <p>Author: {{ shop.user.username }}</p>
{% else %}
    <p>Author: Anonymous</p>
{% endif %}

{% endblock content %}